@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Urbanist&display=swap');

*  {box-sizing: border-box;
}

header {
    background-color: rgba(105, 90, 205, 0.7);
    margin-top: 10px;;
    border-style: solid;
    border: 20px;
    border-color: black;
    border-radius: 20px;
    
}

.titulo {
  color: ghostwhite;
  font-family: 'Philosopher', sans-serif;
  font-size: 26pt;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

body {
    background-image: url(../img/Porto_Alegre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}   

.texto {
  color: black;
  width: 1200px;
  height: 300px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Urbanist', sans-serif;
  font-size: 16pt;
  padding-top: 50px;
 
}


iframe {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.lista {
  width: 1280px;
  height: 300px;
  padding: 20px;
  color: crimson;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-family: 'Urbanist', sans-serif;
  font-size: 16pt;
  background-color: rgb(255, 235, 205, 0.2);
  border-radius: 20px;

}

.redessociais img {
  width: 100px;
  height: 100px;
  padding: 10px;
  
}


#footer {
  text-align: center;
  padding-bottom: 50px;
  font-family: "Philosopher", sans-serif;
  font-size: 22pt;
  color: ghostwhite;
}